/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap'); */



:root {
    --theam-color: #1A1A1A;
    --secondry-color: #B19777;
    --text-color: #888888;
    --footer-color: #252531;
    --line-height: 32px;
}

body {
    font-family: 'Gilroy';
}

h6 {
    line-height: 1.4em;
}

p {
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 30px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.m-100 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.py-100 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.theam-color {
    background-color: var(--theam-color);
}

.header-logo {
    z-index: 99;
}

.navbar-nav i {
    font-size: 12px;
}

/* -----------------Blog------------ */
.blog-text h6 {
    color: var(--secondry-color);
    font-family: "Teko", Sans-serif;
    font-size: 17px;
    letter-spacing: 4px;
    overflow: hidden;
}

.blog-img {
    position: relative;
    display: block;
    background: #ce9e51;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.blog-img img {
    transition: all 0.5s ease-in-out;
}

.blog-img:hover img {
    opacity: 1;
    transform: scale(1.1, 1.1) rotate(2deg);
}

.blog-text h2 {
    font-weight: 600;
    line-height: 1.4em;
    color: #1A1A1A;
    font-family: "Playfair Display", Sans-serif;
}

.blog-text {
    top: 5px;
    left: 5px;
    background-color: #fff;
    padding: 8px 16px;
}

.blog-text a {
    color: #000;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1em;
}

.blog-box h3 {
    font-family: "Playfair Display";
}

.blog-meta li {
    padding-right: 15px;
    font-size: 11px;
}

.blog-meta a {
    color: var(--secondry-color);
    font-weight: 400;
}

.btn {
    position: relative;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    opacity: 1;
    border-bottom: 1px solid var(--secondry-color);
    transition: all 0.5s ease-in-out;
}


.btn:hover::after {
    width: 100%;
}


/* -----------------footer------------ */
.footer {
    background-image: url(../image/dots.png);
    /* height: 50vh; */
    position: relative;
    z-index: -1;
    padding: 75px 0px 60px 0px;
}

.footer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    background-color: var(--footer-color);
}

.footer-text h6 {
    color: var(--secondry-color);
    letter-spacing: 2px;
}

.footer-text i {
    color: var(--secondry-color);
}

.footer-text a {
    font-size: 15px;
    color: var(--text-color);
    letter-spacing: 1px;
}

.footer-text a:hover {
    color: var(--secondry-color);
}